{% extends 'base.html' %}
{% block style -%}
<link type="text/css" href="{{ url_for('static',filename='css/necro_style.css')}}" rel="stylesheet" />
{% endblock %}

{% block login -%}
{% if login  %}
<li class="registration">
	<p class="auth">Логин: {{login}}
	</p>
</li>
{% else %}
<li class="registration"><a href="{{ url_for('login')}}" class="registration">Вход / Регистрация</a></li>
{% endif %}
{% endblock %}


{% block main%}
<div id="login-form">
    <h1>Фильтр поиска</h1>
      <fieldset>
          <form action="/search" method="POST">
            {% for cat, msg in get_flashed_messages(True) %}
            <div>
              <p class="flash {{cat}} ">{{msg}}</p>
            </div>
            {% endfor %}
            <p><label>Фамилия</label><input type="text" required value="" name='second_name'> </p>
            <p><label>Имя</label><input type="text" required value="" name='first_name' > </p>
            <p><label>Отчество</label><input type="text" required value="" name='father_name'></p>
            <p><label>Дата рождения  (гггг-мм-дд)</label><input type="text" required value="" name='bdate'></p>
            <p><label>Дата смерти  (гггг-мм-дд)</label><input type="text" required value="" name='ddate'></p>
            <input type="submit" value="Поиск">
          </form>
      </fieldset>
  </div> 

  <div class="search">
    {% for necro in necrologs %}
    <div class="necrolog">
      <p>necro['second_name']</p>
    </div>
    {% endfor %}
  </div>






{% endblock %}